In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import itertools

import glob

# File to Load (Remember to change these)

dataFiles = glob.glob("Project1\Data\*")
print(dataFiles)
dfs = [pd.read_csv(eachFile) for eachFile in dataFiles ]


dfs = dict()
#'OB': df of OB joins DM_PREV 
#'LTPIA': df of LTPIA joins DM_PREV 
#'INCOME': df of INCOME joins DM_PREV 

dfMapsFiles = dict()

#'DM_PREV': df of DM_PREV
#'OB': df of OB
#'LTPIA': df of LTPIA
#'INCOME': df of INCOME

#drop irrelevant info
dropColsPatterns = {
'DM_PREV': (True, [3,5,6,7,8, 9], 7, "FIPS Codes"),
'OB': (True, [3, 4], 3, "FIPS Codes"),
'LTPIA': (True, [3, 4], 3, "FIPS Codes"),
'INCOME': (False, 1) 
}    

#Data Mungling with CSV files
#calculate drops
def getCalDropCols(series=None, opSet=0, years=9):
    data = pd.DataFrame(series)
    drop = []
    for x in range(years):
        data[x+1] = data[x]+opSet
    for x in data.columns: 
        drop.append(data[x].values.tolist())
    return list( itertools.chain.from_iterable(drop)) 

#cover object to numeric...only applies to Series
def objToFloat(df=None, columns=None):
    print(columns)
    for info in columns:
         df[info] = pd.to_numeric(df[info], errors='coerce')

# clean up data in DM_PREV, OB, LTPIA, INCOME csvs
# drop unnecessary columns and convert to proper dtype
for file, df in zip(dataFiles, dfs):
    for pattern in dropColsPatterns.keys():
        if pattern in file:
            # handles DM_PREV, OB, LTPIA
            if (dropColsPatterns[pattern][0] == True):
            #print(pattern, key)
                array =dropColsPatterns[pattern][1]
                opSet = dropColsPatterns[pattern][2]
                cols = getCalDropCols(array,opSet)
                print(cols)
                columnInfo = list(df.columns)
                df.columns = df.iloc[0]
                comments = df.columns[-1]
                years = [each for each in columnInfo if ("20" in each and not "Un" in each)]
                df = df.drop(df.columns[cols],axis=1)
                comments = df.columns[-1]
                df = df[1:] #create new df
                df['County'] = pd.Series(df['County'].replace(' County', '', regex=True))
                colslabel = ['State', 'FIPS', 'County'] + years
                df.columns = colslabel

                df['Comments'] = comments
                #df.replace("Comments", np.nan, regex=True)
                #print(df.head(3))
                objToFloat(df, years)
                #print(df.head(100).tail(10))
                df = df.dropna()
                df.to_csv(pattern+".csv", na_rep="NaN")
                dfMapsFiles[pattern] = [file, df]
                break
            elif (dropColsPatterns[pattern][0]==False): #handle INCOME
                df.columns = ['Rank', 'State', 'County', 'Per Capita Income', 
                              'Median Household Income', 'Median Family Income', 
                              'Population', '# of households']
                df['County'] = pd.Series(df['County'].replace(' County', '', regex=True))
                df = df.dropna()
                # dollars sign replacement
                df = df[df.columns].replace('[\$,]', '', regex=True)#.astype(int, error=ignore)
                objToFloat(df, df.columns[3:])
                dfMapsFiles[pattern] = [file, df]
                df.to_csv(pattern+".csv", na_rep="NaN")
                break
            #print(df.dtypes)
    
   
#Element 0 = file, 1 = df

df

['Project1\\Data\\DM_PREV_ALL_STATES.csv', 'Project1\\Data\\LTPIA_RANK_ALL_STATES.csv', 'Project1\\Data\\OB_RANK_ALL_STATES.csv', 'Project1\\Data\\WIKI_INCOME_SOURCE.csv']
[3, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72]
['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']
[3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 21, 22, 24, 25, 27, 28, 30, 31]
['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']
[3, 4, 6, 7, 9, 10, 12, 13, 15, 16, 18, 19, 21, 22, 24, 25, 27, 28, 30, 31]
['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']
Index(['Per Capita Income', 'Median Household Income', 'Median Family Income',
       'Population', '# of households'],
      dtype='object')

,Rank,State,County,Per Capita Income,Median Household Income,Median Family Income,Population,# of households
2,1,New York,New York,62498,69659,84627,1605272,736192
3,2,Virginia,Arlington,62018,103208,139244,214861,94454
4,3,Virginia,Falls Church City,59088,120000,152857,12731,5020
5,4,California,Marin,56791,90839,117357,254643,102912
6,5,Virginia,Alexandria City,54608,85706,107511,143684,65369
7,6,Colorado,Pitkin,51814,72745,93981,17173,7507
8,7,New Mexico,Los Alamos,51044,106686,124979,17979,7590
9,8,Virginia,Fairfax,50532,110292,128596,1101071,389908
10,9,New Jersey,Hunterdon,50349,106143,125828,127047,46816
11,10,Texas,Borden,50042,71607,76250,649,225
12,11,Maryland,Montgomery,49038,98221,117408,989474,360563
13,12,New Jersey,Morris,48814,98633,117683,495261,179665
14,13,Connecticut,Fairfield,48721,82283,104250,926233,332655
15,14,California,San Francisco,48486,75604,90116,817501,345344
16,15,Maryland,Howard,48172,109865,128657,293821,106142
17,16,New York,Westchester,47984,81946,105341,956283,343561
18,17,New Jersey,Somerset,47803,99020,117393,326207,115531
19,18,Massachusetts,Nantucket,47331,85478,92500,10224,4069
20,19,Virginia,Loudoun,46565,122238,133550,326477,106997
21,20,Alaska,North Slope,46457,80761,82500,9484,1990
22,21,California,San Mateo,45732,88202,105844,729543,257941
23,22,Hawaii,Kalawao,45515,59375,88750,71,46
24,23,District of Columbia,Washington City,45290,65830,79665,619371,263649
25,24,Virginia,Goochland,45039,80976,92042,21565,8058
26,25,Massachusetts,Norfolk,44692,84916,108943,677296,257451
27,26,Virginia,Fairfax City,44345,97242,113538,23027,8492
28,27,Colorado,Douglas,43634,101591,112930,293014,103780
29,28,Wyoming,Teton,43444,68078,83558,21575,7583
30,29,New Jersey,Bergen,43347,83794,102222,912795,335422
31,30,Massachusetts,Middlesex,42861,82090,104032,1522533,581120
...,...,...,...,...,...,...,...,...
3175,3114,Alabama,Wilcox,13379,23642,26739,11531,3866
3176,3115,South Carolina,Allendale,13334,25252,30276,10214,3424
3177,3116,Texas,La Salle,13307,26756,36632,6921,1864
3178,3117,Georgia,Stewart,13238,23451,32566,6007,1851
3179,3118,Georgia,Wilcox,13228,32928,38627,9110,2705
3180,3119,Georgia,Clay,12982,21192,28352,3133,1235
3181,3120,Mississippi,Humphreys,12874,23600,28816,9258,3107
3182,3121,Texas,Zavala,12828,25625,32930,11849,3654
3183,3122,Mississippi,Noxubee,12780,24338,34375,11358,4194
3184,3123,Mississippi,Tallahatchie,12747,29853,37539,15231,4640
3185,3124,Mississippi,Jefferson,12723,26028,32793,7690,2520
3186,3125,Arizona,Apache,12709,31476,37095,71978,19055
3187,3126,New Mexico,McKinley,12679,30458,36109,72373,17427
3188,3127,Mississippi,Sunflower,12588,26619,31893,28722,8394
3189,3128,Arkansas,Lee,12529,25034,32986,10267,3491
3190,3129,Georgia,Telfair,12489,26634,33608,16391,5567
3191,3130,Georgia,Hancock,12381,25000,35795,9233,2742
3192,3131,South Dakota,Ziebach,12339,32708,32273,2821,803
3193,3132,Mississippi,Claiborne,12177,23689,31385,9553,3190
3194,3133,Mississippi,Holmes,12113,22325,25995,18931,6511
3195,3134,Louisiana,East Carroll,12055,25321,30840,7674,2488
3196,3135,Tennessee,Lake,12042,27115,36926,7773,2201
3197,3136,Kentucky,McCreary,11818,20972,30543,18163,6312
3198,3137,Texas,Starr,11584,24927,27552,61351,15949
3199,3138,South Dakota,Buffalo,11405,30962,31301,1966,542
3200,3139,Texas,Willacy,11313,25886,31592,22039,5499
3201,3140,Alaska,Kusilvak Census Area,11210,40176,40750,7678,1744
3202,3141,South Dakota,Todd,10575,31934,32671,9783,2680
3203,3142,Georgia,Wheeler,8948,24382,31556,7746,2096
3204,3143,South Dakota,Oglala Lakota,8768,25648,26029,13829,2867

In [3]:
dfMapsFiles

{'DM_PREV': ['Project1\\Data\\DM_PREV_ALL_STATES.csv',
              State   FIPS                   County  2004  2005  2006  2007  \
  1         Alabama   1001                  Autauga  10.0  11.1  11.4  11.4
  2         Alabama   1003                  Baldwin   8.1   8.4   9.1   9.4
  3         Alabama   1005                  Barbour  10.1  10.7  12.4  13.0
  4         Alabama   1007                     Bibb   8.9   9.4  10.9  11.6
  5         Alabama   1009                   Blount   8.3   8.6   9.6  10.5
  6         Alabama   1011                  Bullock  11.5  12.0  14.0  14.5
  7         Alabama   1013                   Butler  11.3  11.4  12.8  14.2
  8         Alabama   1015                  Calhoun   9.8  10.6  11.9  13.5
  9         Alabama   1017                 Chambers  11.6  12.3  14.2  15.1
  10        Alabama   1019                 Cherokee   9.6  10.5  12.8  13.3
  11        Alabama   1021                  Chilton   8.6   9.4   9.5   9.8
  12        Alabama   1023                  Choctaw  11.5  11.9  12.2  13.1
  13        Alabama   1025                   Clarke  11.4  10.9  11.9  12.6
  14        Alabama   1027                     Clay   9.3   9.9  11.5  12.4
  15        Alabama   1029                 Cleburne   9.5   9.5   9.7  10.1
  16        Alabama   1031                   Coffee  10.5  10.1  10.4  10.8
  17        Alabama   1033                  Colbert  10.5  11.6  13.0  13.5
  18        Alabama   1035                  Conecuh  11.7  12.3  13.2  13.6
  19        Alabama   1037                    Coosa  10.9  12.1  12.7  12.9
  20        Alabama   1039                Covington  10.2  11.4  12.3  12.8
  21        Alabama   1041                 Crenshaw   9.9  11.1  12.0  12.4
  22        Alabama   1043                  Cullman   9.4   9.1   9.6  10.7
  23        Alabama   1045                     Dale  10.6  11.1  12.6  12.5
  24        Alabama   1047                   Dallas  13.3  13.2  13.4  15.1
  25        Alabama   1049                   DeKalb   8.3   9.1  10.7  11.1
  26        Alabama   1051                   Elmore   8.0   9.2   9.8  10.3
  27        Alabama   1053                 Escambia  10.3  10.8  11.5  11.4
  28        Alabama   1055                   Etowah   9.0   9.2   9.9  10.7
  29        Alabama   1057                  Fayette   9.6  10.2  11.8  12.5
  30        Alabama   1059                 Franklin   8.6   9.1   9.6  11.2
  ...           ...    ...                      ...   ...   ...   ...   ...
  3195  Puerto Rico  72095        Maunabo Municipio  13.6  16.5  15.5  16.5
  3196  Puerto Rico  72097       Mayagüez Municipio  13.2  14.9  16.1  16.8
  3197  Puerto Rico  72099           Moca Municipio  11.9  12.8  14.2  13.7
  3198  Puerto Rico  72101        Morovis Municipio  12.1  13.2  13.3  12.7
  3199  Puerto Rico  72103        Naguabo Municipio  14.0  14.4  14.5  13.1
  3200  Puerto Rico  72105      Naranjito Municipio  12.6  13.4  13.9  13.7
  3201  Puerto Rico  72107       Orocovis Municipio  12.9  13.9  14.3  13.8
  3202  Puerto Rico  72109       Patillas Municipio  13.9  15.3  15.5  14.6
  3203  Puerto Rico  72111       Peñuelas Municipio  12.8  12.8  12.9  12.0
  3204  Puerto Rico  72113          Ponce Municipio  13.4  13.4  13.8  13.0
  3205  Puerto Rico  72115   Quebradillas Municipio  13.9  14.4  15.6  16.3
  3206  Puerto Rico  72117         Rincón Municipio  12.6  15.0  17.5  18.6
  3207  Puerto Rico  72119     Río Grande Municipio  12.1  12.2  12.7  12.3
  3208  Puerto Rico  72121  Sabana Grande Municipio  12.7  13.5  13.8  14.5
  3209  Puerto Rico  72123        Salinas Municipio  12.2  11.7  12.7  12.1
  3210  Puerto Rico  72125     San Germán Municipio  13.9  14.6  15.8  16.3
  3211  Puerto Rico  72127       San Juan Municipio  11.3  10.8  11.6  11.7
  3212  Puerto Rico  72129    San Lorenzo Municipio  10.7  11.9  12.5  12.9
  3213  Puerto Rico  72131  San Sebastián Municipio  13.8  15.6  15.5  16.5
  3214  Puerto Rico  72133   Santa Isabel Municipio  11.2  10.3  11.1  11.2
  3215  Puerto Rico  72135       Toa Alta Municipio   9.5   9.2   9.5   9.4
  3216  Puerto Rico  72137       Toa Baja Municipio  11.5  11.5  11.9  11.8
  3217  Puerto Rico  72139  Trujillo Alto Municipio   8.9   9.0  10.1  11.5
  3218  Puerto Rico  72141         Utuado Municipio  13.5  13.6  14.0  14.4
  3219  Puerto Rico  72143      Vega Alta Municipio  11.9  12.4  12.7  13.4
  3220  Puerto Rico  72145      Vega Baja Municipio  11.4  12.6  15.0  15.2
  3221  Puerto Rico  72147        Vieques Municipio  11.3  12.2  14.0  16.4
  3222  Puerto Rico  72149       Villalba Municipio  11.0  11.0  12.0  11.9
  3223  Puerto Rico  72151        Yabucoa Municipio  13.1  14.6  14.3  14.2
  3224  Puerto Rico  72153          Yauco Municipio  13.7  13.7  13.5  13.0

        2008  2009  2010  2011  2012  2013 Comments
  1     11.4  12.3  11.8  12.1  12.0  13.0  percent
  2      9.8  11.4  11.8  11.5  10.8  10.4  percent
  3     13.6  14.0  14.2  14.8  16.2  18.4  percent
  4     11.1  11.8  11.1  12.7  13.2  14.8  percent
  5     11.4  12.6  14.0  13.2  13.8  14.1  percent
  6     14.9  15.6  17.5  17.6  18.6  19.6  percent
  7     15.1  16.6  16.0  16.1  16.4  17.7  percent
  8     14.5  14.2  13.9  13.2  14.3  14.9  percent
  9     16.1  16.2  15.0  15.7  15.8  16.4  percent
  10    13.6  13.2  13.6  13.7  14.9  13.3  percent
  11    10.2  11.9  12.5  13.2  13.2  13.3  percent
  12    14.7  16.9  17.3  17.4  18.9  18.1  percent
  13    14.1  14.7  15.7  15.2  15.8  16.3  percent
  14    13.2  14.8  14.7  14.9  14.3  14.6  percent
  15    11.0  12.4  13.3  12.8  13.3  12.6  percent
  16    12.1  13.3  12.6  13.0  14.0  15.9  percent
  17    13.5  13.4  13.7  14.9  16.8  18.7  percent
  18    14.5  16.7  17.7  18.5  17.8  17.4  percent
  19    13.2  15.1  15.6  16.2  16.7  17.3  percent
  20    13.1  12.9  13.7  13.8  15.5  14.7  percent
  21    12.6  13.9  14.8  15.9  15.4  16.5  percent
  22    11.9  13.2  13.0  13.4  13.7  14.4  percent
  23    13.5  13.2  13.9  14.5  14.5  14.1  percent
  24    15.6  16.0  15.1  16.4  17.5  19.0  percent
  25    11.2  11.3  12.9  13.6  15.0  13.4  percent
  26     9.9  12.3  12.3  13.3  12.6  13.4  percent
  27    12.3  13.2  13.2  13.4  16.1  17.8  percent
  28    11.6  13.3  14.1  14.9  15.1  16.8  percent
  29    12.7  14.1  15.8  17.6  15.8  15.1  percent
  30    12.8  14.6  14.2  12.8  13.5  13.9  percent
  ...    ...   ...   ...   ...   ...   ...      ...
  3195  15.9  16.9  17.6  17.3  17.5  17.8  percent
  3196  15.7  16.0  15.1  15.7  15.6  16.8  percent
  3197  13.9  13.8  14.9  14.6  15.6  16.9  percent
  3198  13.5  13.6  15.3  15.6  15.7  16.5  percent
  3199  12.9  12.7  15.0  15.8  17.2  17.4  percent
  3200  13.6  12.9  14.7  15.3  15.8  16.0  percent
  3201  14.3  14.4  15.4  14.8  15.1  16.6  percent
  3202  15.5  16.1  17.8  18.5  19.4  20.1  percent
  3203  14.4  14.5  16.7  16.3  16.6  17.3  percent
  3204  14.3  14.8  15.6  16.0  15.6  16.3  percent
  3205  16.9  15.7  17.2  15.8  17.1  17.4  percent
  3206  17.4  17.0  18.2  17.3  17.7  17.5  percent
  3207  12.8  14.1  14.5  14.9  15.0  17.2  percent
  3208  14.8  15.2  15.0  16.9  17.8  18.6  percent
  3209  13.6  14.2  16.1  17.1  18.4  18.6  percent
  3210  16.2  16.4  17.5  17.1  16.8  16.6  percent
  3211  12.8  12.4  12.5  12.9  13.7  13.9  percent
  3212  13.3  14.1  15.1  15.0  15.1  16.5  percent
  3213  16.2  16.9  17.9  18.7  19.5  19.2  percent
  3214  12.1  13.2  12.6  14.3  13.4  15.0  percent
  3215   9.7   9.9  11.5  12.9  13.1  13.1  percent
  3216  11.1  11.9  12.7  15.0  14.6  14.4  percent
  3217  11.7  12.8  12.2  13.4  12.9  13.7  percent
  3218  15.8  16.6  15.3  15.2  15.6  18.1  percent
  3219  13.7  14.2  14.8  15.8  16.0  16.2  percent
  3220  14.5  12.9  14.1  15.2  16.7  17.7  percent
  3221  16.3  17.0  14.8  18.6  19.2  22.6  percent
  3222  12.3  11.9  14.0  15.0  15.2  16.1  percent
  3223  13.7  14.1  15.6  15.5  15.4  16.6  percent
  3224  14.0  13.4  15.6  15.5  17.1  17.2  percent

  [3215 rows x 14 columns]],
 'LTPIA': ['Project1\\Data\\LTPIA_RANK_ALL_STATES.csv',
            State   FIPS       County    2004    2005    2006    2007    2008  \
  1       Alabama  01001      Autauga  3058.0  3026.0  3020.0  3067.0  3056.0
  2       Alabama  01003      Baldwin  2523.0  2414.0  2386.0  1848.0  1907.0
  3       Alabama  01005      Barbour  3109.0  3126.0  3096.0  3091.0  3089.0
  4       Alabama  01007         Bibb  2943.0  3084.0  3116.0  3120.0  3122.0
  5       Alabama  01009       Blount  2992.0  3014.0  2977.0  3051.0  3107.0
  6       Alabama  01011      Bullock  3117.0  3121.0  3064.0  3047.0  3063.0
  7       Alabama  01013       Butler  3048.0  2998.0  3051.0  3093.0  3091.0
  8       Alabama  01015      Calhoun  2941.0  3017.0  2951.0  2931.0  2908.0
  9       Alabama  01017     Chambers  3055.0  3070.0  3086.0  3088.0  3111.0
  10      Alabama  01019     Cherokee  3126.0  3137.0  3136.0  3128.0  3125.0
  11      Alabama  01021      Chilton  3054.0  3069.0  3062.0  3067.0  3037.0
  12      Alabama  01023      Choctaw  3078.0  3078.0  3048.0  2904.0  3051.0
  13      Alabama  01025       Clarke  3076.0  3026.0  2900.0  2998.0  3102.0
  14      Alabama  01027         Clay  3053.0  3050.0  3101.0  3125.0  3121.0
  15      Alabama  01029     Cleburne  3052.0  3054.0  3047.0  3080.0  3076.0
  16      Alabama  01031       Coffee  2867.0  2952.0  3050.0  2903.0  2895.0
  17      Alabama  01033      Colbert  3044.0  3065.0  2918.0  3061.0  2976.0
  18      Alabama  01035      Conecuh  3119.0  3106.0  3107.0  3092.0  3107.0
  19      Alabama  01037        Coosa  3092.0  3094.0  3107.0  3119.0  3113.0
  20      Alabama  01039    Covington  2866.0  3072.0  3090.0  3089.0  3118.0
  21      Alabama  01041     Crenshaw  3000.0  3051.0  2994.0  2997.0  2973.0
  22      Alabama  01043      Cullman  2863.0  2903.0  2987.0  2971.0  2997.0
  23      Alabama  01045         Dale  3067.0  3102.0  2968.0  2828.0  2769.0
  24      Alabama  01047       Dallas  3037.0  3057.0  3067.0  3081.0  3037.0
  25      Alabama  01049       DeKalb  3120.0  3126.0  3087.0  3023.0  2949.0
  26      Alabama  01051       Elmore  2801.0  2947.0  2984.0  2994.0  2914.0
  27      Alabama  01053     Escambia  3013.0  3012.0  3065.0  3041.0  3086.0
  28      Alabama  01055       Etowah  2976.0  3056.0  3078.0  3096.0  3093.0
  29      Alabama  01057      Fayette  3133.0  3125.0  3100.0  3075.0  3071.0
  30      Alabama  01059     Franklin  2860.0  3002.0  3103.0  3089.0  3110.0
  ...         ...    ...          ...     ...     ...     ...     ...     ...
  3117  Wisconsin  55129     Washburn  1700.0  1669.0  1676.0  1589.0  1265.0
  3118  Wisconsin  55131   Washington   822.0   771.0   776.0   870.0  1095.0
  3119  Wisconsin  55133     Waukesha   269.0   514.0   613.0   661.0   660.0
  3120  Wisconsin  55135      Waupaca  1131.0  1613.0  1610.0  1537.0  1456.0
  3121  Wisconsin  55137     Waushara  1567.0  1359.0  1468.0  1469.0  1527.0
  3122  Wisconsin  55139    Winnebago  1283.0  1005.0  1157.0  1035.0   863.0
  3123  Wisconsin  55141         Wood   967.0  1162.0   940.0   960.0   923.0
  3124    Wyoming  56001       Albany   232.0   340.0   446.0   539.0   607.0
  3125    Wyoming  56003     Big Horn  2240.0  2164.0  2112.0  1975.0  2046.0
  3126    Wyoming  56005     Campbell  2080.0  2180.0  1757.0  2134.0  2037.0
  3127    Wyoming  56007       Carbon  1978.0  2391.0  2196.0  2520.0  2639.0
  3128    Wyoming  56009     Converse  1315.0  1469.0  1594.0  1885.0  1367.0
  3129    Wyoming  56011        Crook  1901.0  2314.0  1620.0  1339.0   925.0
  3130    Wyoming  56013      Fremont  1235.0  1024.0  1091.0  1618.0  1605.0
  3131    Wyoming  56015       Goshen  1960.0  2160.0  1633.0  1992.0  2114.0
  3132    Wyoming  56017  Hot Springs  2703.0  2838.0  2482.0  1763.0  1247.0
  3133    Wyoming  56019      Johnson  1267.0  1178.0  1201.0  1060.0  1087.0
  3134    Wyoming  56021      Laramie  1157.0  1038.0  1124.0  1100.0  1316.0
  3135    Wyoming  56023      Lincoln   998.0  1263.0  1105.0  1092.0   883.0
  3136    Wyoming  56025      Natrona  1374.0  1601.0  1601.0  1562.0  1241.0
  3137    Wyoming  56027     Niobrara  1265.0  2038.0  2260.0  2869.0  2707.0
  3138    Wyoming  56029         Park  1441.0  1445.0  1384.0  1099.0  1224.0
  3139    Wyoming  56031       Platte  2281.0  2006.0  1673.0  2371.0  2575.0
  3140    Wyoming  56033     Sheridan   968.0   845.0  1059.0  1113.0   833.0
  3141    Wyoming  56035     Sublette  2031.0  2105.0  1183.0  1301.0  1027.0
  3142    Wyoming  56037   Sweetwater  1683.0  1859.0  1831.0  2031.0  1914.0
  3143    Wyoming  56039        Teton    58.0    43.0    44.0    20.0    13.0
  3144    Wyoming  56041        Uinta  2296.0  1850.0  1470.0  1126.0  1194.0
  3145    Wyoming  56043     Washakie  2082.0  1922.0  1784.0  1934.0  2120.0
  3146    Wyoming  56045       Weston  2893.0  2780.0  2710.0  2531.0  2495.0

          2009    2010    2011    2012    2013         Comments
  1     2991.0  2713.0  2642.0  2673.0  2791.0  95th Percentile
  2     1527.0  2108.0  1756.0  1689.0  1373.0  95th Percentile
  3     3063.0  3077.0  3008.0  3009.0  3019.0  95th Percentile
  4     3127.0  3124.0  3068.0  3047.0  3115.0  95th Percentile
  5     3111.0  3087.0  2868.0  2658.0  2752.0  95th Percentile
  6     2984.0  3056.0  3076.0  3083.0  3081.0  95th Percentile
  7     3105.0  3111.0  3131.0  3063.0  3109.0  95th Percentile
  8     2978.0  2938.0  2975.0  2962.0  2897.0  95th Percentile
  9     3098.0  3130.0  3098.0  3077.0  3020.0  95th Percentile
  10    3114.0  3076.0  2853.0  2943.0  3096.0  95th Percentile
  11    2905.0  2922.0  3015.0  2984.0  2992.0  95th Percentile
  12    3060.0  3121.0  3084.0  3015.0  2879.0  95th Percentile
  13    3125.0  3109.0  2907.0  2784.0  2691.0  95th Percentile
  14    3127.0  3136.0  3134.0  3123.0  3058.0  95th Percentile
  15    3085.0  3105.0  3104.0  3079.0  2994.0  95th Percentile
  16    2591.0  2803.0  2779.0  2703.0  2762.0  95th Percentile
  17    3029.0  2689.0  2906.0  2609.0  2961.0  95th Percentile
  18    3103.0  3118.0  3111.0  3057.0  3035.0  95th Percentile
  19    3098.0  2975.0  3027.0  2912.0  2969.0  95th Percentile
  20    3116.0  3128.0  3125.0  3092.0  3060.0  95th Percentile
  21    3061.0  3076.0  3053.0  2984.0  2925.0  95th Percentile
  22    2743.0  2908.0  2890.0  2551.0  2396.0  95th Percentile
  23    2910.0  2867.0  2894.0  2516.0  2617.0  95th Percentile
  24    2989.0  3010.0  2989.0  3003.0  2890.0  95th Percentile
  25    2506.0  2912.0  2803.0  2968.0  2936.0  95th Percentile
  26    2935.0  2865.0  2857.0  2738.0  2821.0  95th Percentile
  27    3115.0  3124.0  3123.0  2976.0  2990.0  95th Percentile
  28    3010.0  2970.0  2919.0  2901.0  3033.0  95th Percentile
  29    3008.0  2964.0  2917.0  2881.0  3038.0  95th Percentile
  30    3125.0  3124.0  3068.0  3088.0  3116.0  95th Percentile
  ...      ...     ...     ...     ...     ...              ...
  3117  1289.0  1036.0  2084.0  1923.0  1892.0  95th Percentile
  3118  1274.0  1299.0  1236.0   947.0   640.0  95th Percentile
  3119   550.0   499.0   344.0   304.0   267.0  95th Percentile
  3120  1436.0  1737.0  1610.0  1972.0  1922.0  95th Percentile
  3121  1821.0  1510.0  1915.0  2419.0  2317.0  95th Percentile
  3122   705.0  1199.0  1365.0  1689.0   973.0  95th Percentile
  3123   677.0   974.0  1193.0  1483.0  1610.0  95th Percentile
  3124   541.0   560.0   472.0   422.0   337.0  95th Percentile
  3125  1985.0  1633.0  1390.0  1306.0  1979.0  95th Percentile
  3126  2151.0  1927.0  2068.0  2043.0  2143.0  95th Percentile
  3127  2831.0  2915.0  2868.0  2479.0  2410.0  95th Percentile
  3128  1531.0  1893.0  2212.0  2426.0  2534.0  95th Percentile
  3129  1316.0  2465.0  2281.0  2562.0  2092.0  95th Percentile
  3130  1474.0  1230.0  1458.0  1629.0  1928.0  95th Percentile
  3131  2619.0  2538.0  2507.0  2181.0  2473.0  95th Percentile
  3132  1552.0  1937.0  1938.0  1927.0  2176.0  95th Percentile
  3133  1207.0  1883.0  1501.0  1537.0  1099.0  95th Percentile
  3134  1152.0  1147.0  1047.0  1105.0  1502.0  95th Percentile
  3135   819.0   981.0  1212.0  1288.0   991.0  95th Percentile
  3136  1219.0  1211.0  1393.0  1273.0  1524.0  95th Percentile
  3137  2753.0  2688.0  2709.0  2481.0  2640.0  95th Percentile
  3138   858.0  1005.0   743.0  1041.0  1000.0  95th Percentile
  3139  2346.0  2091.0  2252.0  2076.0  1997.0  95th Percentile
  3140   496.0   587.0   827.0   931.0   881.0  95th Percentile
  3141  1555.0  1834.0  1093.0   724.0   483.0  95th Percentile
  3142  1463.0  1276.0  1637.0  1991.0  2392.0  95th Percentile
  3143    12.0    18.0    47.0    26.0    37.0  95th Percentile
  3144  1350.0  1949.0  1879.0  1958.0  1476.0  95th Percentile
  3145  1665.0  1600.0  1588.0  1178.0  1962.0  95th Percentile
  3146  2367.0  2412.0  2277.0  1867.0  1564.0  95th Percentile

  [3137 rows x 14 columns]],
 'OB': ['Project1\\Data\\OB_RANK_ALL_STATES.csv',
            State   FIPS       County    2004    2005    2006    2007    2008  \
  1       Alabama  01001      Autauga  3096.0  2994.0  2701.0  2891.0  2955.0
  2       Alabama  01003      Baldwin  2750.0  2438.0  1600.0  1392.0  1728.0
  3       Alabama  01005      Barbour  3121.0  3124.0  3133.0  3126.0  3127.0
  4       Alabama  01007         Bibb  3085.0  3097.0  3061.0  3034.0  3003.0
  5       Alabama  01009       Blount  2846.0  2986.0  2927.0  3042.0  3013.0
  6       Alabama  01011      Bullock  3139.0  3139.0  3136.0  3133.0  3133.0
  7       Alabama  01013       Butler  3099.0  3074.0  3068.0  3123.0  3126.0
  8       Alabama  01015      Calhoun  3021.0  3030.0  3056.0  3049.0  3014.0
  9       Alabama  01017     Chambers  3106.0  3082.0  3103.0  3127.0  3114.0
  10      Alabama  01019     Cherokee  2970.0  3017.0  3066.0  3037.0  3044.0
  11      Alabama  01021      Chilton  3008.0  3016.0  3098.0  3109.0  3105.0
  12      Alabama  01023      Choctaw  3119.0  3110.0  3122.0  3126.0  3119.0
  13      Alabama  01025       Clarke  3120.0  3106.0  3126.0  3120.0  3117.0
  14      Alabama  01027         Clay  3052.0  3013.0  3063.0  3072.0  3060.0
  15      Alabama  01029     Cleburne  3034.0  3068.0  3019.0  2953.0  2827.0
  16      Alabama  01031       Coffee  3104.0  3096.0  3104.0  3055.0  3037.0
  17      Alabama  01033      Colbert  2994.0  3027.0  3111.0  3125.0  3092.0
  18      Alabama  01035      Conecuh  3129.0  3114.0  3120.0  3094.0  3048.0
  19      Alabama  01037        Coosa  3106.0  3124.0  3121.0  3122.0  3093.0
  20      Alabama  01039    Covington  2991.0  2950.0  2971.0  3062.0  3092.0
  21      Alabama  01041     Crenshaw  3102.0  3119.0  3122.0  3121.0  3098.0
  22      Alabama  01043      Cullman  2728.0  2740.0  2749.0  2894.0  2900.0
  23      Alabama  01045         Dale  3067.0  3081.0  3024.0  3078.0  3082.0
  24      Alabama  01047       Dallas  3138.0  3138.0  3139.0  3140.0  3136.0
  25      Alabama  01049       DeKalb  2858.0  3030.0  3017.0  3043.0  2988.0
  26      Alabama  01051       Elmore  2944.0  2951.0  2833.0  2693.0  2637.0
  27      Alabama  01053     Escambia  3101.0  3122.0  3121.0  3121.0  3089.0
  28      Alabama  01055       Etowah  3041.0  3014.0  2969.0  3041.0  2849.0
  29      Alabama  01057      Fayette  3099.0  3104.0  3108.0  3104.0  3060.0
  30      Alabama  01059     Franklin  3045.0  3085.0  3097.0  2980.0  2846.0
  ...         ...    ...          ...     ...     ...     ...     ...     ...
  3117  Wisconsin  55129     Washburn  2111.0  2435.0  2363.0  2317.0  2380.0
  3118  Wisconsin  55131   Washington  1479.0  1821.0  1730.0  1932.0  1946.0
  3119  Wisconsin  55133     Waukesha   806.0  1204.0  1469.0  1888.0  1884.0
  3120  Wisconsin  55135      Waupaca  2533.0  2649.0  2367.0  2466.0  2535.0
  3121  Wisconsin  55137     Waushara  2177.0  2520.0  2324.0  2586.0  2630.0
  3122  Wisconsin  55139    Winnebago  2092.0  2523.0  2415.0  1964.0  2144.0

In [ ]:

details = pd.merge(incomeData, df, on=['County','State'])

In [ ]:
year2013 = details.loc[:, ['Rank', 'State', 'County', 'Per Capita Income', 'Median Household Income', 'Median Family Income', 'Population', '2013']]

In [ ]:
year2013.dtypes

In [ ]:
year2013.loc[year2013['State']=='Wyoming'].sort_values(by='2013', ascending=False)