In [2]:
import pandas as pd

# 7. Students Do: compete with your classmates to create a model (any algorithm(s) of your choice) with the highest R value using the boston dataset. You may use any supplemental data to increase performance but you MUST use the train:test:val split below:

In [10]:
import sklearn.ensemble

In [3]:

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

from sklearn.datasets import load_boston

X, y = load_boston(True)
X = pd.DataFrame(X, columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO',
 'B', 'LSTAT'])
len(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=310)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=.5, random_state=310)

model = RandomForestRegressor(n_estimators=400, oob_score=True, n_jobs=-1, random_state=310)
model.fit(X_train, y_train)
model.score(X_train, y_train), model.score(X_test, y_test)

model =

(0.9836355121337571, 0.8912554568184679)

# 8. All about Random Forests and some of their related models

### Recall that random forests are build upon many individual trees that are each trained on a subset of the data (both in terms of features and datapoints)

### We can tune the parameters are each decision tree to affect the overall level of detail captured.

### Some of these hyperparameters are as follows:

 - n_estimators: default 'warn'. This is the number of trees in your model. The goal here is to pick the minimum amount of trees to achieve the lowest generalized loss. I usually pick ~500 to start and experiment with lower and higher numbers. the process of choosing trees is known as pruning. read more here: 
 - criterion: 'mse' or 'mae'. mse is differentiable while mae is not. mse also penalizes samples that are very far.
 - max_depth: refers to how many layers the tree can make. If you find your model is overfitting, limiting this can help limit overfitting.
 - min_samples_split: self explanatory,
 - min_samples_leaf: self explanatory, 
 - min_weight_fraction_leaf=0.0, 
 - max_features: default sqrt(n). How many features to consider for each tree at each split. This is super important to tune for each model as it can drastically improve (or decrease) the performance of your model. 
 - max_leaf_nodes=None, 
 - bootstrap: should i pick a subset of samples to train on? default True 
 - oob_score: out of bag score. will test trees on samples held out on training that tree,
 - n_jobs=1, 
 - random_state: self explanatory,
 - verbose: self explanatory, 
 - warm_start: add the ability to continue training the model after it has already been trained. , 
 - class_weight=None)
 
 Important notes:
 - Great in high dimensions
 - slow to build and predict
 - more black-box than linear regression algorithms
 - Lesson from Random Forests is: when in doubt, use an ensemble.
 - Good for sparse data (Linear regression is not).
 
 ## Gradient Boosted Trees are ensembles of traditionally small, weak trees that perform poorly individually, but well as an ensemble.
 
 0. We begin with a weak learner (AKA shallow tree)
 1. We represent the loss of a tree in a differentiable equation
 2. We take the gradient of previous equation to find the optimal parameters.
 3. We add it to the ensemble of trees.
 4. repeat.
 
 Important notes:
 - Single threaded
 - Slow to build, but fast to predict
 - can perform better than Random Forests.
 
 ## XGBoost
 
 Paper: https://arxiv.org/pdf/1603.02754.pdf?source=post_page---------------------------
 
 Similar to gradient boosted trees, but also implements
 - pruning
 - adds some paralellizability
 - adds some regularization through L1 and L2 loss
 - some more fancy algorithms such as Weighted Quantile Sketch (which I don't know much about, yet)

# >>>>> NO FREE LUNCH! <<<<<

In [473]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
#import xgboost

import numpy as np

In [609]:
file_to_load = "Dataframe519.csv"
df = pd.read_csv(file_to_load, sep="|")
df = df.drop(['Unnamed: 0'],axis=1)
# need valid features/ eliminate NAN features
df = df.loc[df['features'].isnull()==False, :]
Y = np.array(df['Price'])
X = df.drop(['Price'],axis=1)

In [497]:
len(Y)

56192

In [476]:
len(X)

56192

In [612]:
#Mapping 'features' to numeric values
mapFeatures = dict()
features = X.features.str.split(',',  expand=True)
features = features[features.columns].replace('[\(,\)]', '', regex=True)
features.to_csv('featuresHuman.csv')

 

weightValues = 0
# 
for value in range(0, features.shape[1], 1):
    features[value] = features[value].apply(str)
    #print(features[value])
    for each in features[value].unique():
        if not (each in mapFeatures.keys()):             
            mapFeatures[each] = weightValues             
            weightValues = weightValues +1
    
mapFeatures

{'Rear Spoiler': 0,
 'Cruise Control': 1,
 'Traction Control': 2,
 'Auxiliary Audio Input': 3,
 'AM/FM Stereo': 4,
 'Air Conditioning': 5,
 'Overhead Airbags': 6,
 'Special Edition': 7,
 'Skylights': 8,
 'Sunroofs': 9,
 'Alloy Wheels': 10,
 'Leather Seats': 11,
 'Front Seat Heaters': 12,
 'Convenience Package': 13,
 'MACH Audio': 14,
 'Satellite Radio Ready': 15,
 'Rockford Fosgate Sound': 16,
 'Pioneer Sound System': 17,
 'ABS Brakes': 18,
 'Luxury Package': 19,
 'Tow Hitch': 20,
 'Platinum Edition': 21,
 'Power Sliding Doors': 22,
 'Touring Package': 23,
 'Rear View Camera': 24,
 'Leatherette Seats': 25,
 'Running Boards': 26,
 'Premium Package': 27,
 'Sport Package': 28,
 'Soft Top': 29,
 '4WD/AWD': 30,
 'Navigation System': 31,
 'Panoramic Sunroof': 32,
 'BOSE Sound System': 33,
 'Turbo Charged Engine': 34,
 'Parking Sensors': 35,
 'Full Roof Rack': 36,
 'Fold-Away Third Row': 37,
 'Grand Touring Package': 38,
 'DVD Video System': 39,
 'Cold Weather Package': 40,
 'Alpine Sound System': 41,
 'Leather & Suede Seats': 42,
 'Bed Liner': 43,
 '3rd Rear Seat': 44,
 'Ultimate Package': 45,
 'Run Flat Tires': 46,
 'Monsoon Sound': 47,
 'Technology Package': 48,
 'Auto Cruise Control': 49,
 'JBL Sound System': 50,
 'Hard Top': 51,
 'Power Liftgate/DeckLid': 52,
 'Shaker 500 Sound Sys.': 53,
 'Shaker Sound Sys.': 54,
 'Infinity Sound System': 55,
 'Diesel Engine': 56,
 'Pwr Folding Third Row': 57,
 'Bed Cover': 58,
 'Harman Kardon Sound': 59,
 'Head Up Display': 60,
 'Boston Sound System': 61,
 'Journey Package': 62,
 'Z71 Package': 63,
 'Winter Package': 64,
 'Long Bed': 65,
 'Limited Edition': 66,
 'Ultra Luxury Package': 67,
 'Quad Seats': 68,
 'Flex Fuel Vehicle': 69,
 'SRT Design Package': 70,
 'S-Line': 71,
 'Performance Package': 72,
 'TRD Package': 73,
 'Anniversary Edition': 74,
 'John Cooper Works Pkg': 75,
 'Luxury Performance Pkg': 76,
 'Full Leather Interior': 77,
 'Side Airbags': 78,
 'Alternative Fuel': 79,
 'Supercharged Engine': 80,
 'Targa': 81,
 'Super Bee Edition': 82,
 'Rallye Package': 83,
 'Gooseneck Tow Hitch': 84,
 'FX4 Package': 85,
 'Fifth Wheel Tow Hitch': 86,
 'Competition Package': 87,
 'Dual Rear Wheels': 88,
 ' Overhead Airbags': 89,
 ' Auxiliary Audio Input': 90,
 ' Side Airbags': 91,
 ' Rear Defroster': 92,
 ' AM/FM Stereo': 93,
 ' Rear Spoiler': 94,
 ' Air Conditioning': 95,
 ' Cruise Control': 96,
 ' Front Seat Heaters': 97,
 ' Power Locks': 98,
 ' Alloy Wheels': 99,
 ' Full Roof Rack': 100,
 ' Skylights': 101,
 ' ABS Brakes': 102,
 ' Fold-Away Third Row': 103,
 ' Sunroofs': 104,
 ' Traction Control': 105,
 ' Leather Seats': 106,
 ' Tow Hitch': 107,
 ' DVD Video System': 108,
 ' Navigation System': 109,
 ' Infinity Sound System': 110,
 ' Rockford Fosgate Sound': 111,
 ' Pioneer Sound System': 112,
 ' Leather & Suede Seats': 113,
 ' Satellite Radio Ready': 114,
 ' Parking Sensors': 115,
 ' 3rd Rear Seat': 116,
 ' Convenience Package': 117,
 ' BOSE Sound System': 118,
 ' Touring Package': 119,
 ' Leatherette Seats': 120,
 ' Panoramic Sunroof': 121,
 ' 4WD/AWD': 122,
 ' Power Liftgate/DeckLid': 123,
 ' Turbo Charged Engine': 124,
 ' Cold Weather Package': 125,
 ' Rear View Camera': 126,
 ' Shaker 500 Sound Sys.': 127,
 ' Shaker Sound Sys.': 128,
 ' Power Sliding Doors': 129,
 ' Run Flat Tires': 130,
 ' JBL Sound System': 131,
 ' Harman Kardon Sound': 132,
 ' Boston Sound System': 133,
 ' Technology Package': 134,
 ' Premium Package': 135,
 ' MACH Audio': 136,
 ' A/C Seats': 137,
 ' Running Boards': 138,
 ' Fold-Away Middle Row': 139,
 ' Soft Top': 140,
 ' Alpine Sound System': 141,
 ' Special Edition': 142,
 ' Bed Liner': 143,
 ' Auto Cruise Control': 144,
 ' Sport Package': 145,
 ' Journey Package': 146,
 ' Mark Levinson Sound': 147,
 ' S-Line': 148,
 ' Pwr Folding Third Row': 149,
 ' Performance Package': 150,
 ' Flex Fuel Vehicle': 151,
 ' Head Up Display': 152,
 ' Platinum Edition': 153,
 ' Ultra Luxury Package': 154,
 ' Diesel Engine': 155,
 ' John Cooper Works Pkg': 156,
 ' CD Audio': 157,
 ' 20 Inch Plus Wheels': 158,
 ' Winter Package': 159,
 ' Quad Seats': 160,
 ' Monsoon Sound': 161,
 ' Bed Cover': 162,
 ' Supercharged Engine': 163,
 ' Long Bed': 164,
 ' TRD Package': 165,
 ' Z71 Package': 166,
 ' Barn Doors': 167,
 ' Gooseneck Tow Hitch': 168,
 ' Full Leather Interior': 169,
 ' SMG Transmission': 170,
 ' Anniversary Edition': 171,
 ' Rear Air Conditioning': 172,
 'None': 173,
 ' Adjustable Suspension': 174,
 ' Dual Rear Wheels': 175,
 ' Competition Package': 176,
 ' FX4 Package': 177,
 ' Fifth Wheel Tow Hitch': 178,
 ' Cloth Seats': 179,
 ' Power Mirrors': 180,
 ' Memory Seats': 181,
 ' Manual Transmission': 182,
 ' Sync System': 183,
 ' No A/C': 184,
 ' Power Windows': 185,
 ' Automatic Transmission': 186,
 ' Rear Seat Heaters': 187,
 ' Vinyl Seats': 188}

In [613]:
#long computation values due to vast assignment
for key in mapFeatures:
    for value in range(0, features.shape[1], 1):
        features[value] = features[value].replace(key, mapFeatures[key], regex=True)

In [479]:
#columnsName = ['Feature'+ str(each) for each in list(features.columns)]
columnsName = ['Feature'+ str(each) for each in range(0, len(features.columns), 1)]
columnsName
features.columns = columnsName

for info in columnsName:
    features[info] = pd.to_numeric(features[info], errors='coerce')

features.dtypes
features.head(5)

   Feature0  Feature1  Feature2  Feature3  Feature4  Feature5
0       0.0       6.0      78.0      92.0     179.0     182.0
1       1.0       3.0       0.0       5.0      98.0     180.0
2       2.0      78.0      18.0      98.0       4.0      92.0
3       3.0       6.0      78.0       4.0      92.0     157.0
4       4.0      92.0     179.0     182.0     184.0     173.0

In [615]:
features.to_csv('FeaturesML.csv')

In [480]:
len(features)

56192

In [481]:
# Quatify specs into numberic categories
#4 Cylinders, 2WD, 1.6L Engine, Manual 5 Speed ...

specs = X['specs'].str.split(' ',  expand=True)
specs.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11
0,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",87K,"Miles,",Red/Black
1,4,"Cylinders,","2WD,",2.2L,"Engine,",Manual,5,Speed,"Transmission,",127K,"Miles,",Gray/Gray
2,3,"Cylinders,","2WD,",1.0L,"Engine,",Automatic,"Transmission,",86K,"Miles,",White/Black,None,None
3,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",114K,"Miles,",Silver/Black
4,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",73K,"Miles,",White/Black

In [482]:

#Assigment issues

correction = specs.loc[specs[0].str.contains('WD')==True, :] 
correction = (correction).shift(periods=2, axis='columns')
correction[[0]] = -1
correction[[1]] = 'Cylinders'
specs.loc[specs[0].str.contains('WD')==True, :] = correction


# Replace Nan with "" 
# Car Color
specs[11] = specs[11].fillna("")
specs.loc[specs[9].str.contains('K')==True, [9]] = ""
specs[11] = specs[9]+specs[11]

# Automatic = 0, Manual >= 5 speed upward
specs.loc[specs[6].str.contains('Transmission')==True, [6]] = 0
#specs.to_csv("specsDebug.csv")

specs.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11
0,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",,"Miles,",Red/Black
1,4,"Cylinders,","2WD,",2.2L,"Engine,",Manual,5,Speed,"Transmission,",,"Miles,",Gray/Gray
2,3,"Cylinders,","2WD,",1.0L,"Engine,",Automatic,0,86K,"Miles,",White/Black,None,White/Black
3,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",,"Miles,",Silver/Black
4,4,"Cylinders,","2WD,",1.6L,"Engine,",Manual,5,Speed,"Transmission,",,"Miles,",White/Black

In [483]:
X.loc[56008, :]['specs']

'2WD, 5.3L Engine, Automatic Transmission, 12K Miles, Black/Black'

In [484]:
specs.to_csv("specsDebug2.csv")
#specs.loc[311, :]

In [485]:
len(specs)
#len(features)

56192

In [486]:
#Drop names
specs.drop([1,4,5, 7,8,9,10], axis=1, inplace=True)


#0 > 'Cylinders'> 4 to 8 cylinders
#2 > 'DriveTrain' > 2= 2WD or 4= 4WD
#4 > 'Engine' > 1.6L, 2.2L etc.
#6 > 'Transmission' : Automatic > 0, Manual >= 5
#11 > CarColor

columnNames = ['Cylinders', 'DriveTrain', 'Engine', 'Transmission', 'Color']
specs.columns = columnNames
specs['DriveTrain'] = specs['DriveTrain'].replace('WD,', '', regex=True)
specs['Engine'] =  specs['Engine'].replace('L', '', regex=True)
#specs.to_csv("specsDebug2.csv")

In [617]:
for name in ['Cylinders', 'DriveTrain', 'Transmission']:
    #specs = pd.to_numeric(specs[name], errors='coerce') 
    specs[name] = specs[name].astype(int, error='ignore') # good to check for data consistency
specs['Engine'] = pd.to_numeric(specs['Engine'], errors='coerce')

In [618]:
specs.head(5)

   Cylinders  DriveTrain  Engine  Transmission         Color
0          4           2     1.6             5     Red/Black
1          4           2     2.2             5     Gray/Gray
2          3           2     1.0             0   White/Black
3          4           2     1.6             5  Silver/Black
4          4           2     1.6             5   White/Black

In [489]:
#combination = pd.concat([features, specs], axis=1)
#combination.head(5)

In [634]:
yearMakeModel = df['YearMakeModel'].str.split(' ', n=2, expand=True)
columnNames = ['Year', 'Make', 'Model']
yearMakeModel.columns = columnNames
len(yearMakeModel)

56192

In [635]:
df.drop(['YearMakeModel', 'features', 'specs'], axis=1, inplace=True)

In [636]:
len(df)
df.head(2)

   Price Mileage  Num_reviews            location  stars
0  5,599     87K           38  Salt Lake City, UT    4.5
1  5,599    127K           28     Los Angeles, CA    4.0

In [637]:
df['Mileage'] = df['Mileage'].str.replace('K', '').astype(int, error='ignore')
df.rename(columns={'Mileage':'MileageK'}, inplace=True)
df.head(2)

   Price  MileageK  Num_reviews            location  stars
0  5,599        87           38  Salt Lake City, UT    4.5
1  5,599       127           28     Los Angeles, CA    4.0

In [638]:
specs.head(2)

   Cylinders  DriveTrain  Engine  Transmission      Color
0          4           2     1.6             5  Red/Black
1          4           2     2.2             5  Gray/Gray

In [639]:
copy = pd.concat([yearMakeModel, df, features, specs], axis=1)
copy.to_csv('Copy.csv')
len(copy)

56192

In [651]:

copy['Price'] = copy['Price'].str.replace(',', '').astype(int, error='ignore')
#copy['Engine'] = pd.to_numeric(copy['Engine'], errors='coerce')
#df.to_csv('CleanedData.csv')
copy.head(5)

,Year,Make,Model,Price,MileageK,Num_reviews,location,stars,0,1,...,5,Cylinders,DriveTrain,Engine,Transmission,Color,MakeMachine,ColorMachine,ModelMachine,LocationMachine
0,2009,Hyundai,Accent GS,5599,87,38,"Salt Lake City, UT",4.5,0,6,...,182,4,2,1.6,5,Red/Black,14,56,143,110
1,2006,Saturn,Ion 2,5599,127,28,"Los Angeles, CA",4.0,1,3,...,180,4,2,2.2,5,Gray/Gray,30,31,848,75
2,2008,Smart,Fortwo Pure,5599,86,46,"Los Angeles, CA",4.0,2,78,...,92,3,2,1.0,0,White/Black,32,79,673,75
3,2010,Hyundai,Accent Blue,5899,114,37,"Salisbury, MD",4.5,3,6,...,157,4,2,1.6,5,Silver/Black,14,64,141,109
4,2006,Chevrolet,Aveo LS,5998,73,12,"San Diego, CA",4.5,4,92,...,173,4,2,1.6,5,White/Black,5,79,205,112

In [652]:
makeMachine = pd.Categorical(copy['Make'])
copy['MakeMachine'] = makeMachine.codes

In [653]:
#carMake = dict()
#carMdodel = dict()
#mapCount = 0
#for each in copy['Make'].unique():
#    carMake[str(each)] = mapCount
#    mapCount = mapCount + 1
#carMake

In [654]:
carColor = pd.Categorical(copy['Color'])
copy['ColorMachine'] = carColor.codes

In [655]:
model = pd.Categorical(copy['Model'])
copy['ModelMachine'] = model.codes

In [656]:
location = pd.Categorical(copy['location'])
copy['LocationMachine'] = location.codes

In [657]:
ML_data = copy.drop(['Make', 'Model', 'Color', 'location'], axis=1)
ML_data = ML_data.fillna(0)
ML_data.head(2)
#ML_data.to_csv('MachineData.csv')

,Year,Price,MileageK,Num_reviews,stars,0,1,2,3,4,5,Cylinders,DriveTrain,Engine,Transmission,MakeMachine,ColorMachine,ModelMachine,LocationMachine
0,2009,5599,87,38,4.5,0,6,78,92,179,182,4,2,1.6,5,14,56,143,110
1,2006,5599,127,28,4.0,1,3,0,5,98,180,4,2,2.2,5,30,31,848,75

In [658]:
Y = ML_data['Price']
X= ML_data.drop(['Price'], axis=1)

In [659]:
X.dtypes
Y.dtypes

dtype('int32')

In [ ]:
#ML_data = copy.drop(['Make', 'Model', 'Color', 'location', 'Feature0', 'Feature1'], axis=1)

# 8. Students do: Compete on the CARmax dataset. Ready, set, go!
            
You will be competing on

1. Highest $r^2$ value (on validation data)
2. Fastest runtime in the top third of r-squared values by the end of class
3. Interpretibility - ie which features change prediction in which way.
4. Fastest to complete a model in the top third of r-squared values by the end of class

In [569]:
# X.count() == Y.count()
X.count()

Year               56192
MileageK           56192
Num_reviews        56192
stars              56192
Feature0           54561
Feature1           52955
Feature2           53987
Feature3           54874
Feature4           55024
Feature5           54702
Cylinders          56192
DriveTrain         56192
Engine             56192
Transmission       56192
MakeMachine        56192
ColorMachine       56192
ModelMachine       56192
LocationMachine    56192
dtype: int64

In [660]:
#df = pd.read_csv('/Users/skazi/Downloads/OnlineNewsPopularity/OnlineNewsPopularity.csv')
#df = df.set_index('url')

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.3, random_state=42)
X_test, X_val, Y_test, Y_val = train_test_split(X_test, Y_test, test_size=.2, random_state=42)

In [566]:
#X_train.describe()

In [564]:
#Y_test.describe()

count    16858.000000
mean     19783.189880
std       8230.139164
min       5599.000000
25%      13998.000000
50%      16998.000000
75%      23599.000000
max      86998.000000
Name: Price, dtype: float64

In [663]:
#My baseline model performance

model = RandomForestRegressor(n_estimators=500, max_depth=None, random_state=310, n_jobs=-1, oob_score=True, verbose=3)
model.fit(X_train, Y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 500building tree 2 of 500building tree 3 of 500

building tree 4 of 500

building tree 5 of 500
building tree 6 of 500
building tree 7 of 500
building tree 8 of 500
building tree 9 of 500
building tree 10 of 500
building tree 11 of 500
building tree 12 of 500
building tree 13 of 500
building tree 14 of 500
building tree 15 of 500
building tree 16 of 500
building tree 17 of 500
building tree 18 of 500
building tree 19 of 500
building tree 20 of 500
building tree 21 of 500
building tree 22 of 500
building tree 23 of 500
building tree 24 of 500
building tree 25 of 500
building tree 26 of 500
building tree 27 of 500
building tree 28 of 500
building tree 29 of 500
building tree 30 of 500

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s

building tree 31 of 500
building tree 32 of 500
building tree 33 of 500
building tree 34 of 500
building tree 35 of 500
building tree 36 of 500
building tree 37 of 500
building tree 38 of 500
building tree 39 of 500
building tree 40 of 500
building tree 41 of 500
building tree 42 of 500
building tree 43 of 500
building tree 44 of 500
building tree 45 of 500
building tree 46 of 500
building tree 47 of 500
building tree 48 of 500
building tree 49 of 500
building tree 50 of 500
building tree 51 of 500
building tree 52 of 500
building tree 53 of 500
building tree 54 of 500
building tree 55 of 500
building tree 56 of 500
building tree 57 of 500
building tree 58 of 500
building tree 59 of 500
building tree 60 of 500
building tree 61 of 500
building tree 62 of 500
building tree 63 of 500
building tree 64 of 500
building tree 65 of 500
building tree 66 of 500
building tree 67 of 500
building tree 68 of 500
building tree 69 of 500
building tree 70 of 500
building tree 71 of 500
building tree 72 of 500
building tree 73 of 500
building tree 74 of 500
building tree 75 of 500
building tree 76 of 500
building tree 77 of 500
building tree 78 of 500
building tree 79 of 500
building tree 80 of 500
building tree 81 of 500
building tree 82 of 500
building tree 83 of 500
building tree 84 of 500
building tree 85 of 500
building tree 86 of 500
building tree 87 of 500
building tree 88 of 500
building tree 89 of 500
building tree 90 of 500
building tree 91 of 500
building tree 92 of 500
building tree 93 of 500
building tree 94 of 500
building tree 95 of 500
building tree 96 of 500
building tree 97 of 500
building tree 98 of 500
building tree 99 of 500
building tree 100 of 500
building tree 101 of 500
building tree 102 of 500
building tree 103 of 500
building tree 104 of 500
building tree 105 of 500
building tree 106 of 500
building tree 107 of 500
building tree 108 of 500
building tree 109 of 500
building tree 110 of 500
building tree 111 of 500
building tree 112 of 500
building tree 113 of 500
building tree 114 of 500
building tree 115 of 500
building tree 116 of 500
building tree 117 of 500
building tree 118 of 500
building tree 119 of 500
building tree 120 of 500
building tree 121 of 500
building tree 122 of 500
building tree 123 of 500
building tree 124 of 500
building tree 125 of 500

[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   16.8s

building tree 126 of 500
building tree 127 of 500
building tree 128 of 500
building tree 129 of 500
building tree 130 of 500
building tree 131 of 500
building tree 132 of 500
building tree 133 of 500
building tree 134 of 500
building tree 135 of 500
building tree 136 of 500
building tree 137 of 500
building tree 138 of 500
building tree 139 of 500
building tree 140 of 500
building tree 141 of 500
building tree 142 of 500
building tree 143 of 500
building tree 144 of 500
building tree 145 of 500
building tree 146 of 500
building tree 147 of 500
building tree 148 of 500
building tree 149 of 500
building tree 150 of 500
building tree 151 of 500
building tree 152 of 500
building tree 153 of 500
building tree 154 of 500
building tree 155 of 500
building tree 156 of 500
building tree 157 of 500
building tree 158 of 500
building tree 159 of 500
building tree 160 of 500
building tree 161 of 500
building tree 162 of 500
building tree 163 of 500
building tree 164 of 500
building tree 165 of 500
building tree 166 of 500
building tree 167 of 500
building tree 168 of 500
building tree 169 of 500
building tree 170 of 500
building tree 171 of 500
building tree 172 of 500
building tree 173 of 500
building tree 174 of 500
building tree 175 of 500
building tree 176 of 500
building tree 177 of 500
building tree 178 of 500
building tree 179 of 500
building tree 180 of 500
building tree 181 of 500
building tree 182 of 500
building tree 183 of 500
building tree 184 of 500
building tree 185 of 500
building tree 186 of 500
building tree 187 of 500
building tree 188 of 500
building tree 189 of 500
building tree 190 of 500
building tree 191 of 500
building tree 192 of 500
building tree 193 of 500
building tree 194 of 500
building tree 195 of 500
building tree 196 of 500
building tree 197 of 500
building tree 198 of 500
building tree 199 of 500
building tree 200 of 500
building tree 201 of 500
building tree 202 of 500
building tree 203 of 500
building tree 204 of 500
building tree 205 of 500
building tree 206 of 500
building tree 207 of 500
building tree 208 of 500
building tree 209 of 500
building tree 210 of 500
building tree 211 of 500
building tree 212 of 500
building tree 213 of 500
building tree 214 of 500
building tree 215 of 500
building tree 216 of 500
building tree 217 of 500
building tree 218 of 500
building tree 219 of 500
building tree 220 of 500
building tree 221 of 500
building tree 222 of 500
building tree 223 of 500
building tree 224 of 500
building tree 225 of 500
building tree 226 of 500
building tree 227 of 500
building tree 228 of 500
building tree 229 of 500
building tree 230 of 500
building tree 231 of 500
building tree 232 of 500
building tree 233 of 500
building tree 234 of 500
building tree 235 of 500
building tree 236 of 500
building tree 237 of 500
building tree 238 of 500
building tree 239 of 500
building tree 240 of 500
building tree 241 of 500
building tree 242 of 500
building tree 243 of 500
building tree 244 of 500
building tree 245 of 500
building tree 246 of 500
building tree 247 of 500
building tree 248 of 500
building tree 249 of 500
building tree 250 of 500
building tree 251 of 500
building tree 252 of 500
building tree 253 of 500
building tree 254 of 500
building tree 255 of 500
building tree 256 of 500
building tree 257 of 500
building tree 258 of 500
building tree 259 of 500
building tree 260 of 500
building tree 261 of 500
building tree 262 of 500
building tree 263 of 500
building tree 264 of 500
building tree 265 of 500
building tree 266 of 500
building tree 267 of 500
building tree 268 of 500
building tree 269 of 500
building tree 270 of 500
building tree 271 of 500
building tree 272 of 500
building tree 273 of 500
building tree 274 of 500
building tree 275 of 500
building tree 276 of 500
building tree 277 of 500
building tree 278 of 500
building tree 279 of 500
building tree 280 of 500
building tree 281 of 500
building tree 282 of 500
building tree 283 of 500
building tree 284 of 500

[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   36.7s

building tree 285 of 500
building tree 286 of 500
building tree 287 of 500
building tree 288 of 500
building tree 289 of 500
building tree 290 of 500
building tree 291 of 500
building tree 292 of 500
building tree 293 of 500
building tree 294 of 500
building tree 295 of 500
building tree 296 of 500
building tree 297 of 500
building tree 298 of 500
building tree 299 of 500
building tree 300 of 500
building tree 301 of 500
building tree 302 of 500
building tree 303 of 500
building tree 304 of 500
building tree 305 of 500
building tree 306 of 500
building tree 307 of 500
building tree 308 of 500
building tree 309 of 500
building tree 310 of 500
building tree 311 of 500
building tree 312 of 500
building tree 313 of 500
building tree 314 of 500
building tree 315 of 500
building tree 316 of 500
building tree 317 of 500
building tree 318 of 500
building tree 319 of 500
building tree 320 of 500
building tree 321 of 500
building tree 322 of 500
building tree 323 of 500
building tree 324 of 500
building tree 325 of 500
building tree 326 of 500
building tree 327 of 500
building tree 328 of 500
building tree 329 of 500
building tree 330 of 500
building tree 331 of 500
building tree 332 of 500
building tree 333 of 500
building tree 334 of 500
building tree 335 of 500
building tree 336 of 500
building tree 337 of 500
building tree 338 of 500
building tree 339 of 500
building tree 340 of 500
building tree 341 of 500
building tree 342 of 500
building tree 343 of 500
building tree 344 of 500
building tree 345 of 500
building tree 346 of 500
building tree 347 of 500
building tree 348 of 500
building tree 349 of 500
building tree 350 of 500
building tree 351 of 500
building tree 352 of 500
building tree 353 of 500
building tree 354 of 500
building tree 355 of 500
building tree 356 of 500
building tree 357 of 500
building tree 358 of 500
building tree 359 of 500
building tree 360 of 500
building tree 361 of 500
building tree 362 of 500
building tree 363 of 500
building tree 364 of 500
building tree 365 of 500
building tree 366 of 500
building tree 367 of 500
building tree 368 of 500
building tree 369 of 500
building tree 370 of 500
building tree 371 of 500
building tree 372 of 500
building tree 373 of 500
building tree 374 of 500
building tree 375 of 500
building tree 376 of 500
building tree 377 of 500
building tree 378 of 500
building tree 379 of 500
building tree 380 of 500
building tree 381 of 500
building tree 382 of 500
building tree 383 of 500
building tree 384 of 500
building tree 385 of 500
building tree 386 of 500
building tree 387 of 500
building tree 388 of 500
building tree 389 of 500
building tree 390 of 500
building tree 391 of 500
building tree 392 of 500
building tree 393 of 500
building tree 394 of 500
building tree 395 of 500
building tree 396 of 500
building tree 397 of 500
building tree 398 of 500
building tree 399 of 500
building tree 400 of 500
building tree 401 of 500
building tree 402 of 500
building tree 403 of 500
building tree 404 of 500
building tree 405 of 500
building tree 406 of 500
building tree 407 of 500
building tree 408 of 500
building tree 409 of 500
building tree 410 of 500
building tree 411 of 500
building tree 412 of 500
building tree 413 of 500
building tree 414 of 500
building tree 415 of 500
building tree 416 of 500
building tree 417 of 500
building tree 418 of 500
building tree 419 of 500building tree 420 of 500

building tree 421 of 500
building tree 422 of 500
building tree 423 of 500
building tree 424 of 500
building tree 425 of 500
building tree 426 of 500
building tree 427 of 500
building tree 428 of 500
building tree 429 of 500
building tree 430 of 500
building tree 431 of 500
building tree 432 of 500
building tree 433 of 500
building tree 434 of 500
building tree 435 of 500
building tree 436 of 500
building tree 437 of 500
building tree 438 of 500
building tree 439 of 500
building tree 440 of 500
building tree 441 of 500
building tree 442 of 500
building tree 443 of 500
building tree 444 of 500
building tree 445 of 500
building tree 446 of 500
building tree 447 of 500
building tree 448 of 500
building tree 449 of 500
building tree 450 of 500
building tree 451 of 500
building tree 452 of 500
building tree 453 of 500
building tree 454 of 500
building tree 455 of 500
building tree 456 of 500
building tree 457 of 500
building tree 458 of 500
building tree 459 of 500
building tree 460 of 500
building tree 461 of 500
building tree 462 of 500
building tree 463 of 500
building tree 464 of 500
building tree 465 of 500
building tree 466 of 500
building tree 467 of 500
building tree 468 of 500
building tree 469 of 500
building tree 470 of 500
building tree 471 of 500
building tree 472 of 500
building tree 473 of 500
building tree 474 of 500
building tree 475 of 500
building tree 476 of 500
building tree 477 of 500
building tree 478 of 500building tree 479 of 500

building tree 480 of 500
building tree 481 of 500
building tree 482 of 500
building tree 483 of 500
building tree 484 of 500
building tree 485 of 500
building tree 486 of 500
building tree 487 of 500
building tree 488 of 500
building tree 489 of 500
building tree 490 of 500
building tree 491 of 500
building tree 492 of 500
building tree 493 of 500
building tree 494 of 500
building tree 495 of 500
building tree 496 of 500
building tree 497 of 500
building tree 498 of 500
building tree 499 of 500
building tree 500 of 500

[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:  1.1min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
                      oob_score=True, random_state=310, verbose=3,
                      warm_start=False)

In [680]:
model1 = RandomForestRegressor(n_estimators=400, max_depth=9, random_state=310, n_jobs=-1, oob_score=True, verbose=3)
model1.fit(X_train, Y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 1 of 400building tree 2 of 400building tree 3 of 400building tree 4 of 400



building tree 5 of 400
building tree 6 of 400
building tree 7 of 400
building tree 8 of 400
building tree 9 of 400
building tree 10 of 400
building tree 11 of 400
building tree 12 of 400
building tree 13 of 400
building tree 14 of 400
building tree 15 of 400
building tree 16 of 400
building tree 17 of 400
building tree 18 of 400
building tree 19 of 400
building tree 20 of 400
building tree 21 of 400
building tree 22 of 400
building tree 23 of 400
building tree 24 of 400
building tree 25 of 400
building tree 26 of 400
building tree 27 of 400
building tree 28 of 400

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    2.0s

building tree 29 of 400

building tree 30 of 400
building tree 31 of 400
building tree 32 of 400
building tree 33 of 400
building tree 34 of 400
building tree 35 of 400
building tree 36 of 400
building tree 37 of 400
building tree 38 of 400
building tree 39 of 400
building tree 40 of 400
building tree 41 of 400
building tree 42 of 400
building tree 43 of 400building tree 44 of 400

building tree 45 of 400
building tree 46 of 400
building tree 47 of 400
building tree 48 of 400
building tree 49 of 400
building tree 50 of 400
building tree 51 of 400
building tree 52 of 400
building tree 53 of 400
building tree 54 of 400
building tree 55 of 400
building tree 56 of 400
building tree 57 of 400
building tree 58 of 400
building tree 59 of 400
building tree 60 of 400
building tree 61 of 400
building tree 62 of 400
building tree 63 of 400
building tree 64 of 400
building tree 65 of 400
building tree 66 of 400
building tree 67 of 400
building tree 68 of 400
building tree 69 of 400
building tree 70 of 400
building tree 71 of 400
building tree 72 of 400
building tree 73 of 400
building tree 74 of 400
building tree 75 of 400
building tree 76 of 400
building tree 77 of 400
building tree 78 of 400
building tree 79 of 400
building tree 80 of 400
building tree 81 of 400
building tree 82 of 400
building tree 83 of 400
building tree 84 of 400
building tree 85 of 400
building tree 86 of 400
building tree 87 of 400
building tree 88 of 400
building tree 89 of 400
building tree 90 of 400
building tree 91 of 400
building tree 92 of 400
building tree 93 of 400
building tree 94 of 400
building tree 95 of 400
building tree 96 of 400
building tree 97 of 400
building tree 98 of 400
building tree 99 of 400
building tree 100 of 400
building tree 101 of 400
building tree 102 of 400
building tree 103 of 400
building tree 104 of 400
building tree 105 of 400
building tree 106 of 400
building tree 107 of 400
building tree 108 of 400
building tree 109 of 400
building tree 110 of 400
building tree 111 of 400
building tree 112 of 400
building tree 113 of 400
building tree 114 of 400
building tree 115 of 400
building tree 116 of 400
building tree 117 of 400
building tree 118 of 400
building tree 119 of 400
building tree 120 of 400
building tree 121 of 400
building tree 122 of 400
building tree 123 of 400
building tree 124 of 400
building tree 125 of 400

[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:    9.2s

building tree 126 of 400
building tree 127 of 400
building tree 128 of 400
building tree 129 of 400
building tree 130 of 400
building tree 131 of 400
building tree 132 of 400
building tree 133 of 400
building tree 134 of 400
building tree 135 of 400
building tree 136 of 400
building tree 137 of 400
building tree 138 of 400
building tree 139 of 400
building tree 140 of 400
building tree 141 of 400
building tree 142 of 400
building tree 143 of 400
building tree 144 of 400
building tree 145 of 400
building tree 146 of 400
building tree 147 of 400
building tree 148 of 400
building tree 149 of 400
building tree 150 of 400
building tree 151 of 400
building tree 152 of 400
building tree 153 of 400
building tree 154 of 400
building tree 155 of 400
building tree 156 of 400
building tree 157 of 400
building tree 158 of 400
building tree 159 of 400
building tree 160 of 400
building tree 161 of 400
building tree 162 of 400
building tree 163 of 400
building tree 164 of 400
building tree 165 of 400
building tree 166 of 400
building tree 167 of 400
building tree 168 of 400
building tree 169 of 400
building tree 170 of 400
building tree 171 of 400
building tree 172 of 400
building tree 173 of 400
building tree 174 of 400
building tree 175 of 400
building tree 176 of 400
building tree 177 of 400
building tree 178 of 400
building tree 179 of 400
building tree 180 of 400
building tree 181 of 400
building tree 182 of 400
building tree 183 of 400
building tree 184 of 400
building tree 185 of 400
building tree 186 of 400
building tree 187 of 400
building tree 188 of 400
building tree 189 of 400
building tree 190 of 400
building tree 191 of 400
building tree 192 of 400
building tree 193 of 400
building tree 194 of 400
building tree 195 of 400
building tree 196 of 400
building tree 197 of 400
building tree 198 of 400building tree 199 of 400

building tree 200 of 400
building tree 201 of 400
building tree 202 of 400
building tree 203 of 400
building tree 204 of 400
building tree 205 of 400
building tree 206 of 400
building tree 207 of 400
building tree 208 of 400
building tree 209 of 400
building tree 210 of 400
building tree 211 of 400
building tree 212 of 400
building tree 213 of 400
building tree 214 of 400
building tree 215 of 400
building tree 216 of 400
building tree 217 of 400
building tree 218 of 400
building tree 219 of 400
building tree 220 of 400
building tree 221 of 400
building tree 222 of 400
building tree 223 of 400
building tree 224 of 400
building tree 225 of 400
building tree 226 of 400
building tree 227 of 400
building tree 228 of 400
building tree 229 of 400
building tree 230 of 400
building tree 231 of 400
building tree 232 of 400
building tree 233 of 400
building tree 234 of 400
building tree 235 of 400
building tree 236 of 400
building tree 237 of 400
building tree 238 of 400
building tree 239 of 400
building tree 240 of 400
building tree 241 of 400
building tree 242 of 400
building tree 243 of 400
building tree 244 of 400
building tree 245 of 400
building tree 246 of 400
building tree 247 of 400
building tree 248 of 400
building tree 249 of 400
building tree 250 of 400
building tree 251 of 400
building tree 252 of 400
building tree 253 of 400
building tree 254 of 400
building tree 255 of 400
building tree 256 of 400
building tree 257 of 400
building tree 258 of 400
building tree 259 of 400
building tree 260 of 400
building tree 261 of 400
building tree 262 of 400
building tree 263 of 400
building tree 264 of 400
building tree 265 of 400
building tree 266 of 400
building tree 267 of 400
building tree 268 of 400
building tree 269 of 400
building tree 270 of 400
building tree 271 of 400
building tree 272 of 400
building tree 273 of 400
building tree 274 of 400
building tree 275 of 400
building tree 276 of 400
building tree 277 of 400
building tree 278 of 400
building tree 279 of 400
building tree 280 of 400
building tree 281 of 400
building tree 282 of 400
building tree 283 of 400
building tree 284 of 400
building tree 285 of 400

[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   19.8s

building tree 286 of 400
building tree 287 of 400
building tree 288 of 400
building tree 289 of 400
building tree 290 of 400
building tree 291 of 400
building tree 292 of 400
building tree 293 of 400
building tree 294 of 400
building tree 295 of 400
building tree 296 of 400
building tree 297 of 400
building tree 298 of 400
building tree 299 of 400
building tree 300 of 400
building tree 301 of 400
building tree 302 of 400
building tree 303 of 400
building tree 304 of 400
building tree 305 of 400
building tree 306 of 400
building tree 307 of 400
building tree 308 of 400
building tree 309 of 400
building tree 310 of 400
building tree 311 of 400
building tree 312 of 400
building tree 313 of 400
building tree 314 of 400
building tree 315 of 400
building tree 316 of 400
building tree 317 of 400
building tree 318 of 400
building tree 319 of 400
building tree 320 of 400
building tree 321 of 400
building tree 322 of 400building tree 323 of 400

building tree 324 of 400
building tree 325 of 400
building tree 326 of 400
building tree 327 of 400
building tree 328 of 400
building tree 329 of 400
building tree 330 of 400
building tree 331 of 400
building tree 332 of 400
building tree 333 of 400
building tree 334 of 400
building tree 335 of 400
building tree 336 of 400
building tree 337 of 400
building tree 338 of 400
building tree 339 of 400
building tree 340 of 400
building tree 341 of 400
building tree 342 of 400
building tree 343 of 400
building tree 344 of 400
building tree 345 of 400
building tree 346 of 400
building tree 347 of 400
building tree 348 of 400
building tree 349 of 400
building tree 350 of 400
building tree 351 of 400
building tree 352 of 400
building tree 353 of 400
building tree 354 of 400
building tree 355 of 400
building tree 356 of 400
building tree 357 of 400
building tree 358 of 400
building tree 359 of 400
building tree 360 of 400
building tree 361 of 400
building tree 362 of 400
building tree 363 of 400
building tree 364 of 400
building tree 365 of 400
building tree 366 of 400
building tree 367 of 400
building tree 368 of 400
building tree 369 of 400
building tree 370 of 400
building tree 371 of 400
building tree 372 of 400
building tree 373 of 400
building tree 374 of 400
building tree 375 of 400
building tree 376 of 400
building tree 377 of 400
building tree 378 of 400
building tree 379 of 400
building tree 380 of 400
building tree 381 of 400
building tree 382 of 400
building tree 383 of 400
building tree 384 of 400
building tree 385 of 400
building tree 386 of 400
building tree 387 of 400
building tree 388 of 400
building tree 389 of 400
building tree 390 of 400
building tree 391 of 400
building tree 392 of 400
building tree 393 of 400
building tree 394 of 400
building tree 395 of 400
building tree 396 of 400
building tree 397 of 400
building tree 398 of 400
building tree 399 of 400
building tree 400 of 400

[Parallel(n_jobs=-1)]: Done 400 out of 400 | elapsed:   27.5s finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=9,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=400, n_jobs=-1,
                      oob_score=True, random_state=310, verbose=3,
                      warm_start=False)

In [674]:
print(f"Training Data Score: {each} -  {model.score(X_train, Y_train)}")
print(f"Testing Data Score: {each} - {model.score(X_test, Y_test)}")

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    1.5s
[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    2.9s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

Training Data Score:  Pwr Folding Third Row -  0.9923060330360572

[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    0.5s

Testing Data Score:  Pwr Folding Third Row - 0.9467634358802632

[Parallel(n_jobs=4)]: Done 500 out of 500 | elapsed:    0.9s finished

In [682]:
print(f"Training Data Score: {each} -  {model1.score(X_train, Y_train)}")
print(f"Testing Data Score: {each} - {model1.score(X_test, Y_test)}")
print(f"Delta Data Score: {each} - {model1.score(X_train, Y_train) - model1.score(X_test, Y_test)}")

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 400 out of 400 | elapsed:    0.7s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s

Training Data Score:  Pwr Folding Third Row -  0.8967476869127076

[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 400 out of 400 | elapsed:    0.2s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

Testing Data Score:  Pwr Folding Third Row - 0.8783976359094674

[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 400 out of 400 | elapsed:    0.7s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 120 tasks      | elapsed:    0.0s

Delta Data Score:  Pwr Folding Third Row - 0.018350051003240164

[Parallel(n_jobs=4)]: Done 280 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 400 out of 400 | elapsed:    0.3s finished